%h1 Listing locals

%table
  %thead
    %tr
      %th Latitude
      %th Longitude
      %th Elevacao
      %th
      %th
      %th

  %tbody
    - @locals.each do |local|
      %tr
        %td= local.latitude
        %td= local.longitude
        %td= local.elevacao
        %td= link_to 'Show', local
        %td= link_to 'Edit', edit_local_path(local)
        %td= link_to 'Excluir', local, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Local', new_local_path
