%p#notice= notice

%p
  %b Latitude:
  = @local.latitude
%p
  %b Longitude:
  = @local.longitude
%p
  %b Elevacao:
  = @local.elevacao

= link_to 'Edit', edit_local_path(@local)
\|
= link_to 'Back', locals_path
